# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment variables
.env

# Database
users.db

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
